# EDA

AIM:

1) Understand the columns

2) Key filters to separate down to the camino

In [34]:
import pandas as pd
import datetime

In [8]:
data_name = "Data/Download_csv_11July.csv"
data = pd.read_csv(data_name)

In [9]:
data.head()

,resource_state,name,distance,moving_time,elapsed_time,total_elevation_gain,type,sport_type,id,start_date,...,map.id,map.summary_polyline,map.resource_state,workout_type,average_watts,device_watts,kilojoules,average_temp,max_watts,weighted_average_watts
0,2,Salinas wander,4519.3,3848,4165,12.9,Walk,Walk,15054795828,2025-07-09T07:16:58Z,...,a15054795828,onalFsnnGC?ROTe@H?RWPEXAd@IJK\APOHOD?VYNKDG?OP...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Lunch Swim,1750.0,2904,4333,0.0,Swim,Swim,15033253961,2025-07-07T09:02:42Z,...,a15033253961,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Afternoon Swim,1000.0,1605,1750,0.0,Swim,Swim,15024224231,2025-07-06T11:01:33Z,...,a15024224231,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,Gym warmup,3000.0,1185,1197,0.0,Run,Run,14981859301,2025-07-02T09:35:57Z,...,a14981859301,NaN,2,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2,Coffee walk,4056.2,3168,3987,39.3,Walk,Walk,14915642372,2025-06-24T12:27:42Z,...,a14915642372,czwxHpuAEfBMv@Ct@BXIXCp@Kz@EPK@KJKASIc@[YKc@CI...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
print(data.type.unique())
print(data.sport_type.unique())

['Walk' 'Swim' 'Run' 'Hike' 'Ride' 'StairStepper' 'VirtualRide']
['Walk' 'Swim' 'Run' 'Hike' 'Ride' 'StairStepper' 'VirtualRide']

In [12]:
data.type.value_counts()

type
Ride            638
Run             283
Walk            124
Hike             81
VirtualRide      52
Swim             26
StairStepper      3
Name: count, dtype: int64

In [18]:
# Lets filter to the camino
print(data.shape)
foot = data[data["type"].isin(["Walk", "Hike"])]
print(foot.shape)

(1207, 60)
(205, 60)
(0, 60)

In [37]:
foot['start_date_local_dt'] = pd.to_datetime(foot['start_date_local'])

foot['date'] = foot['start_date_local_dt'].dt.date

foot.dtypes

/var/folders/vl/6b61kczd5ws6jy8bh44qt1rc0000gn/T/ipykernel_19863/609310995.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  foot['start_date_local_dt'] = pd.to_datetime(foot['start_date_local'])
/var/folders/vl/6b61kczd5ws6jy8bh44qt1rc0000gn/T/ipykernel_19863/609310995.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  foot['date'] = foot['start_date_local_dt'].dt.date

resource_state                          int64
name                                   object
distance                              float64
moving_time                             int64
elapsed_time                            int64
                                 ...
average_temp                          float64
max_watts                             float64
weighted_average_watts                float64
start_date_local_dt       datetime64[ns, UTC]
date                                   object
Length: 62, dtype: object

In [48]:
# Filter to dates with just camino
camino = foot[(foot['date']>datetime.date(2025,5,11)) & (foot['date']<datetime.date(2025,6,24))] 
print(camino.shape)

(39, 62)

In [49]:
for each in camino.name.unique():
    print(each)

Bonus Camino 3.2: To the end of the world
Bonus Camino 3: O Logoso to Finisterra
Bonus Camino 2: Negreira to O Logoso
Bonus camino 1: Cathedral to Negreira
Mux铆a wander
33: Lavacolla to SANTIAGO
32: Heidis Place to Lavacolla
31: Melide to Tabernavella (Heidis place)
30: Gonzar to Melide
29: Barbadelo to Gonzar
28: Samos to Barbadelo
27: Hospital de la Contessa to Samos
26: Trabadelo to Hospital de la Contessa, hola Galicia
25: Ponferrada to Trabadelo
24: Foncebad贸n to Ponferrada
22: Astorga to Foncebad贸n
21: Villavente cute casa rural to Astorga
21: Le贸n to Villavante
20: Puente Villarente to Leon
19: Calzadilla to Puente Villarente
18: Terradillo to Caldazilla de los Hermanillos
17: Carrion to Terradillos de los Templarios
16: Boadilla to Carri贸n de los Condes
15: Fuente Sidres to Boadilla del Camino
14: Burgos to Fuente Sidres
13: Carde帽uela to Burgos
12: Villafranca to Carde帽uela Riopico
11: Castildelgado to Villafranca Montes de Oca
10: Azofra to Castildelgado
9: Ventosa to Azofra
8: Viana to Ventosa
7: Villamayor to Viana
6: Estella to Villamayor de monjardin
5: Puenta de la Reina to Estella
4: Pamplona to Puerta de la Reina
3: Zubiri to Pamplona
2: Roncesvalles to Zubiri
1: SJPDP to Roncesvalles
Nord to Monparnasse

In [ ]:
# Remove Muxi wander
camino = camino.drop